body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.first-col, .customization-col, .graph-col {
    border: 3px solid brown;
    border-radius: 10px;
    background-color: aliceblue;
    width: 400px;
    height: 400px;
}

.first-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 20px; */
    
}

.estimate-reward, .asset {
    height: 180px;
    border: 2px solid greenyellow;
}